@page "/"
@using VisualCtf.Services
@using VisualCtf.ViewModels

@inject CtfService Ctf
@inject CacheService CacheSvc
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudPaper Elevation="0" Class="pa-5 mb-3">
    <MudGrid Spacing="2" Justify="Justify.FlexStart">
        <MudItem xs="12" md="4" xl="3">
            <h1>Visual CTF</h1>
            <p>Quickly get an overview of your Contentful content types.</p>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" xl="3" Class="d-flex justify-space-between">
            <AuthorizeView>
                <Authorized>
                    @if (_appState?.Spaces != null)
                    {
                        <MudSelect T="String" Label="Space" Strict="true" Variant="Variant.Outlined" Format="F2" ValueChanged="LoadTypes" SelectedValues="new HashSet<string>() {_appState.CurrentSpaceId}">
                            @foreach (var space in _appState.Spaces)
                            {
                                <MudSelectItem Value="@space.SystemProperties.Id">@space.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    @if (_appState?.TypeGroups != null)
                    {
                        <MudTooltip Text="Refresh" Placement="Placement.Top">
                            <MudIconButton Icon="@Icons.Material.Filled.Refresh" OnClick="() => LoadTypes(_appState.CurrentSpaceId)" Class="mt-2" />
                        </MudTooltip>
                    }
                </Authorized>
                <NotAuthorized>
                    <p>
                        Login with your regular Contentful username and password. <br />
                        Please read the <a href="/about">about section</a> before logging in for the first time.
                    </p><br/>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/account/login/">Log in</MudButton>

                </NotAuthorized>
            </AuthorizeView>
        </MudItem>
        
        <AuthorizeView>
            <Authorized>
                <MudItem xs="12" sm="6" md="4">
                   @* <MudSwitch Color="Color.Primary" @bind-Checked=@(_appState.DoGrouping) Label="Group types" /><br />*@
                    <VisualizerSettings AppState="_appState" OnAppStateChanged="OnAppStateChanged" />
                </MudItem>
            </Authorized>
           
        </AuthorizeView>

    </MudGrid>
</MudPaper>


@if (_appState?.TypeGroups != null)
{
    <MudGrid>
        <MudItem xs="12">
            <MudGrid Spacing="2" Justify="Justify.FlexStart">
                @if (_appState.DoGrouping)
                {
                    var sortedGroups = _appState.SortGroupBy == "size" ?  _appState.TypeGroups.OrderByDescending(g => g.Types.Count) : _appState.TypeGroups;
                    @foreach (var typeGroup in sortedGroups)
                    {
                        <MudItem xs="12" sm="6" md="3" xl="2">
                            <h3 style="text-align: center" class="mb-3 mt-3">@typeGroup.Name</h3>
                            <MudExpansionPanels MultiExpansion="true">
                                @foreach (var visualType in typeGroup.Types)
                                {
                                    <VisualCtf.Shared.Type VisualType="visualType" AppState="_appState" OnClick="OnTypeClicked" ></VisualCtf.Shared.Type>
                                }
                            </MudExpansionPanels>
                        </MudItem>
                    }
                }
                else
                {
                    @foreach (var visualType in _appState.Types)
                    {
                        <MudItem xs="12" sm="6" md="3" xl="2">
                                <VisualCtf.Shared.Type VisualType="visualType" AppState="_appState" OnClick="OnTypeClicked" ></VisualCtf.Shared.Type>
                        </MudItem>
                    }
                }

            </MudGrid>
        </MudItem>
    </MudGrid>
}

@if (showLoader)
{
    <div class="loading">
        <MudProgressCircular Indeterminate="true" />
    </div>
}


@code {
    private AppState _appState;
    private bool showLoader;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var apiKey = authState.User.Claims.FirstOrDefault(c => c.Type == AccountController.CtfKeyClaimType)?.Value;

        if (apiKey != null)
        {
            _appState = CacheSvc.GetAppState(apiKey);
            if (_appState == null)
            {
                _appState = new();
                _appState.ApiKey = apiKey;
                _appState.Spaces = await Ctf.GetSpaces(apiKey);
                CacheSvc.CacheAppState(_appState);
            }
        }
    }

    void OnTypeClicked(string typeId)
    {
        Highlight(typeId, HighlightType.Selected, true);
    }

    void OnAppStateChanged()
    {
        CacheSvc.CacheAppState(_appState);
        this.StateHasChanged();
    }

    public void Highlight(string typeId, HighlightType highlightType, bool highLightReferences = false)
    {
        if (highLightReferences)
        {
            //clear all
            foreach (var type in _appState.TypeGroups.SelectMany(g => g.Types))
            {
                type.Highlighted = HighlightType.None;
            }
        }

        var visualType = _appState.TypeGroups.SelectMany(g => g.Types.Where(t => t.Id == typeId)).FirstOrDefault();
        if (visualType != null)
        {
            visualType.Highlighted = highlightType;
            if (highLightReferences)
            {
                //highlight child references
                foreach (var reference in visualType.FieldReferences.SelectMany(r => r.referenceTypes))
                {
                    Highlight(reference, HighlightType.SelectedChild);
                }
                //highlight parent references
                foreach (var type in _appState.TypeGroups.SelectMany(g => g.Types))
                {
                    if (type.FieldReferences.Any(tr => tr.referenceTypes.Any(refId => refId == visualType.Id)))
                    {
                        Highlight(type.Id, HighlightType.SelectedParent);
                    }
                }
            }
        }
    }

    private async Task LoadTypes(string spaceId)
    {
        showLoader = true;
        _appState.CurrentSpaceId = spaceId;
        await Ctf.GetTypes(_appState);
        CacheSvc.CacheAppState(_appState);
        showLoader = false;
    }

    
}

