@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
        <MudAppBarSpacer />
        <SearchField />
        <MudAppBarSpacer />
        <AuthorizeView>
            <Authorized>
                <div class="d-flex">
                    <div style="text-align: center">
                        @context.User.Identity?.Name<br/>
                        <a href="/account/logout/true" style="color: #fff; font-size: 12px;" >Switch user</a> 
                    </div>
                    <div class="ml-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="/account/logout/">Log out</MudButton>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <LoginButton />
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5" Class="mt-1">Visual CTF</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="pa-6">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<MudThemeProvider Theme="MyCustomTheme" />

@code {
    bool _drawerOpen;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    readonly MudTheme MyCustomTheme = new()
    {
        Palette = new Palette
        {
            Primary = Colors.Teal.Default,
            Secondary = Colors.Teal.Lighten2,
            AppbarBackground = Colors.Teal.Default,
        },
    };

}

