
body {
    background-color: #f5f5f5;
}

.mainbody h2{
    margin: 14px 0 4px 0;
}
.mainbody ul {
    margin-left: 20px;
}
.mainbody li { list-style: disc; }
.mainbody p {
    margin-bottom: 10px;
}

p a {
    text-decoration: underline;
}

.loading {
    position: fixed;
    background-image: radial-gradient( circle closest-side, white, transparent );
    z-index: 112312312;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px
}
    .loading div {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px
    }

.type {
    cursor: pointer;
}
    .type hr {
        border-top: 1px solid #788e8d;
    }

.smallText {
    font-size: 12px;
}

.infotable {
    width: 100%;
}
    .infotable td {
        vertical-align: top;
    }

        .infotable td:first-child {
            font-weight: bold;
        }

        .infotable td:last-child {
            text-align: right;
        }

.highlight-selected {
    background-color: #80CBC4
}
.highlight-selectedchild {
    background-color: #E0F2F1;
}
.highlight-selectedparent {
    background-color: #FFF3E0;
}